<html>
<head></head>
<body>
    <p style="color: green; font-weight: bold; font-size: 20px">Congratulations! Your account has been created.</p>
    <p>You have been registered as {{ name }} with email {{ email }}.</p>
    <p>Link registration test: <a href="https://localhost:8000/register">https://localhost:8000/register</a></p>
</body>
</html>
