<html>
    <head>
        <title>User Registered</title>
    </head>
    <body>
        <h1>Congratulations! Your account has been created.</h1>
        <p>You have been registered as {{ name }} with email {{ email }}.</p>
    </body>
</html>
